<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="style.css">

  <title>Document</title>
</head>
<body>
  <div id="app">
    <tasks :list="tasks"></tasks>
  </div>

  <template id="tasks-template">
    <h1>
      My tasks
      <span v-show="remaining">({{ remaining }})</span>
    </h1>
    <ul class="task-list" v-show="list.length">
      <li
        :class="['task', { 'done': task.done }]"
        v-for="task in list"
        @click="toggleDoneFor(task)"
      >
        {{ task.body }}
        <span
          class="close-btn"
          @click="removeTask(task)"
        >
        </span>
      </li>
    </ul>
    <p v-else>No tasks yet!.</p>
    <input type="text" v-model="newTask" @keyup.enter="addTask" placeholder="Enter a new task">
    <button @click="addTask">add</button>
    <button @click="clearDone">clear</button>
  </template>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
